
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.data {
  font-size: 2rem;
  font-weight: bold;
}

label {
  display: block;
  margin: 1rem 0;
  display: flex;
  width: 14rem;
  justify-content: space-between;
}
